.endorsement {
    border-bottom: 1px solid lightgray;
    padding-bottom: 112px;
}

.endorsement__logo {
    height: 40px;
}

.endorsement__logos {
    display: flex;
    justify-content: space-between;
}

.endorsement > h2 {
    font-size: 30px;
    margin-bottom: 32px;
    text-align: center;
}