.nav {
    margin: auto;
    position: relative;
    text-transform: uppercase;
    font-size: .94rem;
}

.nav__logo {
    width: 100px;
    margin-right: 70px;
    margin-top: 20px;
}

.nav__middle {
    display: inline-block;
    font-weight: 400;
    align-items: center;
    vertical-align: middle;
    position: relative;
    top: -15px;
}

.nav__middle-link {
    margin-right: 30px;
}

.nav__right {
    position: absolute;
    right: 0px;
    top: 33px;
}

.btn.sign-up {
    border: 1px solid #99caec;
    background-color: #2685c6;
    color: #fff;
    padding: .75em 1.05em;
    margin: 0px 12px;
    transition-property: background-color;
    transition-duration: 1s;
    margin-right: 25px;
    font-weight: bold;
}

.btn.sign-up:hover {
    background-color: #2f93d7;

}

.nav a {
    color: black;
}

.nav__middle a:hover {
    color: #e66760;
}