.nav {
    margin: auto;
    position: relative;
    text-transform: uppercase;
    font-size: .94rem;
    /* display: flex; */
}

.menu {
    display: none;
    position: absolute;
}

.nav__logo {
    width: 100px;
    margin-right: 70px;
    margin-top: 20px;
    display: inline-block;
}

.nav__middle {
    display: inline-block;
    font-weight: 400;
    align-items: center;
    vertical-align: middle;
    position: relative;
    top: -15px;
}

.nav__middle-link {
    margin-right: 30px;
}

.nav__right {
    position: absolute;
    right: 0px;
    top: 33px;
}

.btn.sign-up {
    border: 1px solid #99caec;
    background-color: #2685c6;
    color: #fff;
    padding: .75em 1.05em;
    margin: 0px 12px;
    transition-property: background-color;
    transition-duration: 1s;
    margin-right: 25px;
    font-weight: bold;
}

.btn.sign-up:hover {
    background-color: #2f93d7;

}

.nav a {
    color: black;
}

.nav__middle a:hover {
    color: #e66760;
}

@media screen and (max-width: 920px) {
    .btn.sign-up {
        display: none;
    }

    .nav > a {
        margin: 0px auto;
        display: block;
        width: fit-content;
    }

    .nav__middle {
        display: none;
    }

    .nav__right {
        right: 33px;
    }

    .menu {
        display: block;
        left: 16px;
        top: 33px;
    }
}