.sign-up-banner {
    background-color: #61b7d4;
    margin: 0px;
    max-width: unset;
    color: #fff;
    text-align: center;
    /* padding: 56px 0px; */
    position: relative;
}

.sign-up-banner * {
    margin: 0px auto 24px;
}

.sign-up-banner .container {
    margin: 0px auto;
    padding: 56px 0px;
}

.sign-up-banner h2 {
    font-size: 40px;
}

.sign-up-banner p {
    display: inline-block;
    font-size: 20px;
    height: 39px;
    vertical-align: middle;
}

.sign-up-banner .btn {
    background-color: #25d670;
    border: 1px solid #6af26e;
    padding: 12px 64px;
    margin-top: -8px;
    margin-bottom: 0px;
}

.cloud {
    width: 110px;
    position: absolute;
    opacity: 30%;
    margin: 0px;
}

#cloud1 {
    top: 24px;
    right: 12px;
}

#cloud2 {
    bottom: 12px;
    left: 100px;
}

#dino1 {
    width: 230px;
    position: absolute;
    left: 12px;
    top: 24px;
    margin: 0px;
}

#dino2 {
    width: 230px;
    position: absolute;
    bottom: -5px;
    right: 20px;
    margin: 0px;
}