h1 {
    font-size: 3.07rem;
    color: #3a3a3a;
    line-height: 1.25em;
}

.main-info {
    display: flex;
    align-items: center;
    margin: 120px auto;
}

.main-info a {
    color: inherit;
    text-decoration: underline;
}

.main-info__left {
    
    padding-right: 78px;
}

#main-info__subline {
    font-size: 1.34rem;
    line-height: 35px;
}

.main-info p {
    padding: 10px 0px;
    font-size: 16px;
    line-height: 1.25em;
}

iframe {
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

@media screen and (max-width: 920px) {
    .main-info {
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-info__left {
        padding: 0px;
        margin-bottom: 120px;
   
    }

    .main-info__left *{
        max-width: 608px;
    }
}